{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-112K1Z4T3W"></script>
<script>
  var el = document.createElement('script')
  el.async=1
  el.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}'
  var m = document.getElementsByTagName('script')[0]
  m.parentNode.insertBefore(el,m)
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
